.container{
    width: 965px;
    background-color: white;
    margin: auto;  
    border-radius: 25px;  
}
.header img{
    margin-left: 25px;
}
body{
    margin: 0;
    background: url(imatges/bg.jpg);
    font-family: Arial, Helvetica, sans-serif;
}
.menu li{
    display: inline-block;
}
.top{
    margin: 30px;
    
}
.menu{
    float: right;
}
.menu a{
    color: black;
    text-decoration: none;
    padding: 30px;
}
.menu a:hover{
    background-color: red;
}
.col {
    width: 265px;
    display: inline-block;
    vertical-align: top;
    text-align: justify;
    padding: 20px;
}
.col h2{
    color: red;
}
.row {
    text-align: center;
}
.footer {
    overflow: hidden;
}
.footer a{
    color: black;
    text-decoration: none;
}
.footer span{
    float: left;
    margin-top: 20px;
    margin-left: 30px;
}